<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .red {
            color: red;
        }

        .blue {
            color: blue;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="app">
        <h3>v-text</h3>
        <!-- v-text不同於{{ Mustache }} , 會完全渲染標籤 -->
        <p v-text='msg'>測試</p>
        <!-- {{ Mustache }}只會渲染指定位置 -->
        <p>測試{{msg}}</p>

        <hr>
        <h3>v-html</h3>
        <!-- {{ Mustache }}只會以文字方式渲染 -->
        <p>{{html}}</p>
        <!-- v-html會以innerHTML方式插入此div區塊 -->
        <div v-html="html"></div>

        <hr>
        <h3>v-show</h3>
        <button v-on:click="switchShowBool">切換v-show狀態</button>
        <!-- v-show跟v-if作用雷同 , 條件成立時顯示 , 反之隱藏 , 無法應用於<template> -->
        <p v-show="showBool">v-show條件成立</p>

        <hr>
        <h3>v-if</h3>
        <!-- v-if -> v-else -->
        <h4>僅判斷if/else</h4>
        <button v-on:click="switchIfBool">切換v-if狀態</button>
        <p v-if="ifBool">v-if條件成立</p>
        <p v-else>v-else條件不成立</p>

        <!-- v-if -> v-else-if -> v-else -->
        <h4>判斷多個條件if/else if/else</h4>
        <button v-on:click="condition = 1">多重v-if條件 : 1</button>
        <button v-on:click="condition = 2">多重v-if條件 : 2</button>
        <button v-on:click="condition = 3">多重v-if條件 : 3</button>
        <button v-on:click="condition = 4">多重v-if條件 : 4</button>
        <p v-if="condition == 1">條件為1</p>
        <p v-else-if="condition == 2">條件為2</p>
        <p v-else-if="condition == 3">條件為3</p>
        <p v-else>條件為其他</p>

        <hr>
        <h4>v-for</h4>
        <!-- of跟in都可使用 , 無差別 -->
        <div v-for="item of ArrayItems">
            {{item}}
        </div>
        <br>
        <div v-for="item in ArrayItems">
            {{item}}
        </div>
        <br>
        <div v-for="item in ArrayItems">
            <div v-for="obj in item">
                {{obj}}
            </div>
            <br>
        </div>
        <div v-for="(item, index) in ArrayItems">
            <p>index : {{index}} , item : {{item.CAT}} </p>
        </div>

        <div v-for="(item, key, index) in ObjectItems">
            <p>key : {{key}} , index : {{index}} , item : {{item.CAT}} </p>
        </div>

        <hr>
        <h4>v-bind</h4>
        <p>任何原生html標籤屬性需要使用vue屬性時都需要在前方加上v-bind , ex. v-bind:class="vue組件" (可縮寫':class')</p>
        <!-- 可直接將條件是寫在class內 -->
        <span :class="{red: vBind === 'red', blue: vBind === 'blue', bold : true}">渲染顏色</span>
        <br>
        <!-- 也可將條件整理至計算內 , 版面更整齊好修改 -->
        <span :class="vBindClass">渲染顏色</span>
        <button @click="changeVbind">改變顏色</button>

        <hr>
        <h4>v-model</h4>
        <input type="checkbox" id="checkbox" v-model="checkModel">
        <label for="checkbox">{{checkModel}}</label>

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                msg: 'Text',
                html: '<p>v-html所渲染內容</p>',
                showBool: true,
                ifBool: true,
                condition: 1,
                vBind: 'red',
                checkModel: false,
                ArrayItems: [{
                    CAT: '貓1',
                    DOG: '狗1',
                    BIRD: '鳥1',
                    FISH: '魚1',
                    CHICKEN: '雞1'
                }, {
                    CAT: '貓2',
                    DOG: '狗2',
                    BIRD: '鳥2',
                    FISH: '魚2',
                    CHICKEN: '雞2'
                }, {
                    CAT: '貓3',
                    DOG: '狗3',
                    BIRD: '鳥3',
                    FISH: '魚3',
                    CHICKEN: '雞3'
                }

                ],
                ObjectItems: {
                    '1': {
                        SORT: 3,
                        CAT: '貓1',
                        DOG: '狗1',
                        BIRD: '鳥1',
                        FISH: '魚1',
                        CHICKEN: '雞1'
                    },
                    '2': {
                        SORT: 1,
                        CAT: '貓2',
                        DOG: '狗2',
                        BIRD: '鳥2',
                        FISH: '魚2',
                        CHICKEN: '雞2'
                    },
                    '3': {
                        SORT: 2,
                        CAT: '貓3',
                        DOG: '狗3',
                        BIRD: '鳥3',
                        FISH: '魚3',
                        CHICKEN: '雞3'
                    }
                }
            },
            methods: {
                switchShowBool() {
                    this.showBool = !this.showBool;
                },
                switchIfBool() {
                    this.ifBool = !this.ifBool;
                },
                changeVbind() {
                    this.vBind = this.vBind === 'red' ? 'blue' : 'red';
                }
            },
            computed: {
                vBindClass() {
                    return {
                        red: this.vBind === 'red',
                        blue: this.vBind === 'blue',
                        bold: true
                    };
                }
            }
        });
    </script>
</body>

</html>